<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="6.0"
	xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
	<servlet>
		<servlet-name>HomeController</servlet-name>
		<servlet-class>vn.iotstar.controllers.HomeController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HomeController</servlet-name>
		<url-pattern>/home</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>home</welcome-file>
	</welcome-file-list>
	<servlet-mapping>
		<servlet-name>HomeController</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>LoginController</servlet-name>
		<servlet-class>vn.iotstar.controllers.LoginController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginController</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>RegisterController</servlet-name>
		<servlet-class>vn.iotstar.controllers.RegisterController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RegisterController</servlet-name>
		<url-pattern>/register</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>LogoutController</servlet-name>
		<servlet-class>vn.iotstar.controllers.LogoutController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LogoutController</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>WaitingController</servlet-name>
		<servlet-class>vn.iotstar.controllers.WaitingController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>WaitingController</servlet-name>
		<url-pattern>/waiting</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ForgotPasswordController</servlet-name>
		<servlet-class>vn.iotstar.controllers.ForgotPasswordController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ForgotPasswordController</servlet-name>
		<url-pattern>/forgot-password</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>CategoryListController</servlet-name>
		<servlet-class>vn.iotstar.controllers.CategoryListController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CategoryListController</servlet-name>
		<url-pattern>/admin/categories</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>CategoryAddController</servlet-name>
		<servlet-class>vn.iotstar.controllers.CategoryAddController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CategoryAddController</servlet-name>
		<url-pattern>/admin/category/add</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>CategoryEditController</servlet-name>
		<servlet-class>vn.iotstar.controllers.CategoryEditController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CategoryEditController</servlet-name>
		<url-pattern>/admin/category/edit</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>CategoryDeleteController</servlet-name>
		<servlet-class>vn.iotstar.controllers.CategoryDeleteController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CategoryDeleteController</servlet-name>
		<url-pattern>/admin/category/delete</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>DownloadImageController</servlet-name>
		<servlet-class>vn.iotstar.controllers.DownloadImageController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DownloadImageController</servlet-name>
		<url-pattern>/download-image</url-pattern>
	</servlet-mapping>
	<session-config>
		<tracking-mode>COOKIE</tracking-mode>
	</session-config>

</web-app>


